ssh athena
source ~/anaconda3/etc/profile.d/conda.sh
conda activate mehulenv
conda install ipython
conda install pyyaml
conda install oyaml
conda install omegaconf
conda install tqdm
conda install opencv
conda install scipy
conda install libstdcxx-ng

cd external
git clone https://github.com/CompVis/taming-transformers.git taming